.container{
    background-image: url("images/wallpaperPurpldeFaded.png");


}
.container .navbar{
    opacity:0.8;
    z-index: 999;
}
.container .footer{
    background: #61486d;
    color:white;
    opacity:0.7;
}
.container .footer .footer-menu{
    background: inherit;
    border: none;
    text-align: left;


}
ul{
    text-align: left;
    list-style: none;

}
.footer-menu ul li{
    color:white;
}
#footer-header{
    font-family: Arial;
    text-decoration: none;
    color:white;

}
.container .row .thumbnail{
    opacity: 0.8;
}
.btn-primary{
    background: #61486d;
    color:white;
    border:1px solid #61486d;

}

.btn-primary:hover{
    background: rgba(97,72,109,0.32);
    color:#61486d;
    border:1px solid #61486d;

}
.container #logo{
    height: 49px;
    width: 74px;
    padding-bottom: 24px;

}

h4{
    font-family: "Brush Script Std";
    font-size: 26px;
    text-shadow:black ;
    text-decoration-line: overline underline;
    text-decoration-style: unset;
    text-decoration-color: white;
}
.container .nav #myul{
    color: #2baec2!important;
}